@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bg-image {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/mountain.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
}

.bg-image .logo {
  width: 150px;
  height: auto;
  margin-bottom: 25px;
}

.bg-image h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4.5rem;
  color: #fff;
}

.bg-image button {
  outline: none;
  cursor: pointer;
  
  font-weight: bold;
  border-radius: 5px;

  margin-top: 25px;
  padding: 12px 75px;

  border: 3px solid #fff;
  color: #fff;
  background-color: transparent;

  transition: color 1.5s, background-color 1.5s ease;
}

.bg-image button:hover {
  border: 3px solid #fff;
  color: #000;
  background-color: #fff;
}

.categories-section {
  display: flex;
  flex-direction: column;
  padding: 30px 65px;
}

.plans-section {
  display: flex;
  flex-direction: column;
  padding: 30px 65px;
  background-color: #f6f6f6;
}

.section-header h2 {
  font-size: 2.5rem;
}

.categories-section .images-section {
  margin-top: 50px;
  display: grid;
  gap: 15px;
  grid-template-areas: 
  'image1 image2 image2'
  'image3 image3 image3'
  'image4 image4 image5'
  ;
}

.categories-section .images-section div {
  display: flex;
  flex-direction: column;

  color: #fff;
  height: 300px;
  padding: 25px;
}

.categories-section .images-section div h1 {
  font-size: 2.5rem;
}

.image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/nature.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  grid-area: image1;


}

.image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/daily.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px;
  grid-area: image2;
}

.image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/together.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1800px;
  grid-area: image3;

  justify-content: center;
}

.image4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/analysis.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
  grid-area: image4;

  align-items: flex-end;
}

.image5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(56, 55, 54, 0.3)), url(./images/pictures.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px;
  grid-area: image5;
}

.content {
  display: flex;
  align-items: flex-end;
}

.content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 50px 10px;
  color: #fff;
  background-color: #5D80BB;
}

.content .price {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1E5898;

  padding: 8px;
  margin: 0;
}

.content .price h3 {
  font-size: 1.5rem;
}

.content .desc {
  padding: 8px;
}
